.Favorites {
    display: flex;
    justify-content: center;
    width: 100%;
}

.favorites-container {
    margin: 2% auto;
    width: 30%;
}

.favorites-poster {
    width: 80%;
}

.favorite-type {
    width: 50%;
}

.list-title {
    font-size: 32px;;
}